# EC5

Alumna: Sandra Mireli Martínez Gutiérrez (20173026)

1) Lee el archivo llamado "penguins.csv". Esta es una base de pingüinos de la Antártida que viven en diferentes islas y pertenecen a 3 tipos: Adelie, Gentoo y Chinstrap.

(es una base muy adorable y pueden leer más sobre ella [aquí](https://allisonhorst.github.io/palmerpenguins/). Esta surgió como alternativa a la famosísima iris, publicada por primera vez en _Annals of Eugenics_ cuya infame historia se remonta a la defensa de la Eugenesia).

In [2]:
import pandas as pd
import numpy as np

In [24]:
penguins = pd.read_csv("penguins.csv", sep = "," ,encoding = 'latin-1')

In [25]:
penguins.head(5)

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

2) Elimina las observaciones que tienen valor perdido (_missing_) en `sex` y `body_mass_g`.

In [26]:
penguins.shape

(344, 9)

In [27]:
# cuántos missings tienen la base 

penguins.isnull().sum(axis = 0)

Unnamed: 0            0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [38]:
penguins.dropna(subset=['sex', 'body_mass_g'], inplace = True)

In [39]:
penguins.shape

(333, 9)

In [40]:
# cuántos missings tienen la base ahora

penguins.isnull().sum(axis = 0)

Unnamed: 0           0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

3) Haz una tabulación cruzada en donde cuentes el número de pingüinos, por por especie, que hay en cada una de las islas. Este nuevo dataframe tendrá como filas a las especies (_species_) y las nuevas columnas, las islas (_island_). Usa `pivot_table`.

In [44]:
penguins.columns

Index(['Unnamed: 0', 'species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [48]:
penguins['para_contar'] = 1

In [55]:
resumen = penguins.pivot_table(index='species', columns='island', values='para_contar', aggfunc='sum')
resumen

island     Biscoe  Dream  Torgersen
species
Adelie       44.0   55.0       47.0
Chinstrap     NaN   68.0        NaN
Gentoo      119.0    NaN        NaN